<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Nova SBE Crypto Exchange</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-zmvONaEtH6XFvXQ5QjYzTEzU1f3AsqMrnQ11Pv1yJlXmHVznLtJTz8dpQxL5RFvVuXtMQDQyWJtFPQopC4v4Qg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/NovaSBE_Logo.svg/2560px-NovaSBE_Logo.svg.png"
                alt="Nova Sbe Logo" class="logo">
            <h1>NOVA SBE Crypto Exchange</h1>
            <div class="logout">
                <a href="/" class="login-button">
                    <button class="login-button">Home</button>
                </a>
            </div>
        </div>
    </header>
    <main class="container-fluid py-5 text-center">
        <img src="../static/images/error-icon.png" alt="Error" class="error-image">
        <div>
            <p class="error-code">{{ code }}</p>
        </div>
        <div>
            <p class="error-message">{{ message }}</p>
        </div>
    </main>
</body>

</html>