<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Nova Sbe Crypto Exchange</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-zmvONaEtH6XFvXQ5QjYzTEzU1f3AsqMrnQ11Pv1yJlXmHVznLtJTz8dpQxL5RFvVuXtMQDQyWJtFPQopC4v4Qg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script defer src="/scripts/index_script.js"></script>
</head>

<body>
  <header>
    <div class="header-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/NovaSBE_Logo.svg/2560px-NovaSBE_Logo.svg.png"
        alt="Nova Sbe Logo" class="logo">
      <h1>NOVA SBE Crypto Exchange</h1>
      <div class="logout">
        <a href="/logout" class="logout-button">
          <button class="logout-button">Logout</button>
        </a>
      </div>
    </div>
  </header>
  <nav class="navigation">
    <a href="/" class="nav-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
      </svg> Account
    </a>
    <a href="/searchcoins" class="nav-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg> Search Coins
    </a>
    <a href="/history" class="nav-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history"
        viewBox="0 0 16 16">
        <path
          d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5
        <path d=" M7 9V3.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V9h-2z" />
      </svg> Transaction History
    </a>

  </nav>
  <main>
    <p class="hello-user"> 👋 Hello, <span id="account-name"></span>! Are you
      ready to go to the moon?</p>
    <section class="balances">
      <div class="balance-item">
        <h3>Crypto Balance:</h3>
        <p id="stock-balance"><!-- Dynamic content for stockbalance will be added here --></p>
      </div>
      <div class="balance-item">
        <h3>Cash Balance:</h3>
        <p id="cash-balance"><!-- Dynamic content for stockbalance will be added here --></p>
      </div>
      <div class="balance-item">
        <h3>Total Balance:</h3>
        <p id="total-balance"><!-- Dynamic content for stockbalance will be added here --></p>
      </div>
    </section>
    <section class="specific-content">
      <!-- Page specific content goes here -->
      <h2 class="table-title">Your Dashboard</h2>
      <div id="positions">
        <!-- Dynamic content for positions will be inserted here -->
      </div>
    </section>

    <section class="analytics">
      <div class="chart-container">
        <div class="chart-box">
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <h2>Portfolio Weights</h2>
          <!-- Placeholder for the pie chart -->
          <canvas id="myPieChart" width="400" height="400"></canvas>
          <script src="/scripts/index_chart.js"></script>
        </div>
        <div class="chart-box">
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <!-- Include the Moment adapter for Chart.js -->
          <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>

          <h2>Portfolio Evolution</h2>
          <!-- Placeholder for the line chart -->
          <canvas id="balanceChart" width="400" height="400"></canvas>
        </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Nova Sbe Crypto Exchange</p>
  </footer>
</body>

</html>